<div class="top-container">
    <button mat-button (click)="showTotalSummary()">
      <h1>Total Summary</h1>
    </button>
    <button mat-button (click)="showCurrentChapterSummary()">
      <h1>Current Chapter Summary</h1>
    </button>
</div>

<div class="total-box" *ngIf="showTotalSummaryUi">
    <h1 mat-card-title>Total Summary</h1>
    <br>
    <p>{{totalSummary}}</p>
</div>

<div class="current-box" *ngIf="!showTotalSummaryUi">
    <h1 mat-card-title>Current Chapter Summary</h1>
    <br>
    <p>{{chapterSummary}}</p>
</div>
