.chat-history {
    // border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
  }
  
  .chat-history .user-message {
    text-align: right;
    color: rgb(47, 54, 69);
    border: 1px solid #EEEDEB;
  }
  
  .chat-history .bot-message {
    text-align: left;
    color: rgb(0, 92, 187);
  }
  
  mat-form-field{
    width: 80%;
    // margin: 2%;
    padding: 2%;
  }
  
  button {
    // padding: 0.5rem;
    padding: 2.5%;
    // width: 20%;
    height: 100%;
    border-radius: 0% ;
    margin-bottom: 3%;
    // border: 1px solid black;
  }

  .inp-container{
    // height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
  }