<div class="top-container">
  <h1>Book Library</h1>
  <h1>vocab</h1>
</div>

<div class="library-container">
  <mat-card
    *ngFor="let book of bookData; index as i"
    class="book-details"
    (click)="openBook(i)"
  >
    <img
      class="book-image"
      mat-card-image
      src="https://via.placeholder.com/150"
      alt="Book Image"
    />
    <div style="padding: 2%">
      <mat-card-title
        ><p>{{ book.title }}</p></mat-card-title
      >
      <mat-card-subtitle
        ><p>{{ book.creator }}</p></mat-card-subtitle
      >
    </div>
  </mat-card>
</div>
