<mat-card class="sidebar-container">
  <mat-card-header >
    <mat-card-title>{{ selectedWord.toUpperCase() }}</mat-card-title>
    <mat-card-subtitle>{{ wordCategory }}</mat-card-subtitle>
  </mat-card-header>

  <div *ngIf="showImg">
    <img mat-card-image src="{{ imageUrl }}" (click)="openImage()" alt="image" 
    [ngClass]="{
      'charImg': wordCategory === 'Character',
      'placeImg': wordCategory === 'Location'
    }"/>
  </div>
  <mat-card-content>
    <p>{{ content }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="!showImg">
    <button mat-button (click)="addToVocab()">Add to Vocab</button>
  </mat-card-actions>
</mat-card>
